<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.stock.tradincars.co.nz</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://w16.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>stock.tradincars.co.nz</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>stocktra</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SMSContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:s14.winhost.com;Initial Catalog=DB_112739_tradin;Persist Security Info=True;User ID=DB_112739_tradin_user;Password=rhkg38yw4w4rhjg" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SMS.Data.DAL.SMSContext, SMS.Data" MigrationConfiguration="SMS.Data.Migrations.Configuration, SMS.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SMSContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s14.winhost.com;Initial Catalog=DB_112739_tradin;Persist Security Info=True;User ID=DB_112739_tradin_user;Password=rhkg38yw4w4rhjg</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SMSContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s14.winhost.com;Initial Catalog=DB_112739_tradin;Persist Security Info=True;User ID=DB_112739_tradin_user;Password=rhkg38yw4w4rhjg</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SMSContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SMSContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SMSContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SMSContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SMSContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>